@use "sass:math";
@import 'style.scss';

$SetupSize: 1.25 * $Size;
$DarkenDarkSquaresColor: darken($DarkSquaresColor, 50%);
$DarkenLightSquaresColor: darken($LightSquaresColor, 50%);
$DarkenDarkSquaresTextColor: darken($DarkSquaresTextColor, 50%);
$DarkenLightSquaresTextColor: darken($LightSquaresTextColor, 50%);
$NotationFontSize: math.div($Size, 30);

div, img, span, p, tr, td {
    --size: #{$Size};
    --setup_size: #{$SetupSize};
    --dark_squares_color: #{$DarkSquaresColor};
    --dark_squares_text_color: #{$DarkSquaresTextColor};
    --light_squares_color: #{$LightSquaresColor};
    --light_squares_text_color: #{$LightSquaresTextColor};
    --darken_dark_squares_color: #{$DarkenDarkSquaresColor};
    --darken_light_squares_color: #{$DarkenLightSquaresColor};
    --darken_dark_squares_text_color: #{$DarkenDarkSquaresTextColor};
    --darken_light_squares_text_color: #{$DarkenLightSquaresTextColor};
    --notation_font_size: #{$NotationFontSize};
    --highlight_color: {$HighlightColor};
}

.pzChessboard {
    width: var(--size);
    height: var(--size);
}

.pzChessboardSetup {
    width: var(--size);
    height: var(--setup_size);
}

.pzBoard {
    border: 2px solid #404040;
    box-sizing: border-box;
}

.pzBoardRow {
}

.pzSquare {
    float: left;
    position: relative;
    /* disable any native browser highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pzDarkSquare {
    background-color: var(--dark_squares_color);
    color: var(--dark_squares_text_color);
}

.pzLightSquare {
    background-color: var(--light_squares_color);
    color: var(--light_squares_text_color);
}

.pzDarkSquareGrey {
    background-color: var(--darken_dark_squares_color);
    color: var(--darken_dark_squares_text_color);
}

.pzLightSquareGrey {
    background-color: var(--darken_light_squares_color);
    color: var(--darken_light_squares_text_color);
}

.pzClearfix {
    clear: both;
}

.pzNotation {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--notation_font_size);
    position: absolute;
}

.pzAlpha {
    bottom: 1px;
    right: 3px;
}

.pzNumeric {
    top: 2px;
    left: 2px;
}

.pzPieceImage {
}

.pzSparePieces {
}

.pzHighlightSquare {
    box-shadow: inset 0 0 3px 3px var(--highlight_color);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 110px;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    display: block;
}
