div, img, span, p, tr, td {
  --size: 400px;
  --setup_size: 500px;
  --dark_squares_color: #b58863;
  --dark_squares_text_color: #f0d9b5;
  --light_squares_color: #f0d9b5;
  --light_squares_text_color: #b58863;
  --darken_dark_squares_color: #110c08;
  --darken_light_squares_color: #8a5f1c;
  --darken_dark_squares_text_color: #8a5f1c;
  --darken_light_squares_text_color: #110c08;
  --notation_font_size: 13.3333333333px;
  --highlight_color: {$HighlightColor};
}

.pzChessboard {
  width: var(--size);
  height: var(--size);
}

.pzChessboardSetup {
  width: var(--size);
  height: var(--setup_size);
}

.pzBoard {
  border: 2px solid #404040;
  box-sizing: border-box;
}

.pzSquare {
  float: left;
  position: relative;
  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pzDarkSquare {
  background-color: var(--dark_squares_color);
  color: var(--dark_squares_text_color);
}

.pzLightSquare {
  background-color: var(--light_squares_color);
  color: var(--light_squares_text_color);
}

.pzDarkSquareGrey {
  background-color: var(--darken_dark_squares_color);
  color: var(--darken_dark_squares_text_color);
}

.pzLightSquareGrey {
  background-color: var(--darken_light_squares_color);
  color: var(--darken_light_squares_text_color);
}

.pzClearfix {
  clear: both;
}

.pzNotation {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--notation_font_size);
  position: absolute;
}

.pzAlpha {
  bottom: 1px;
  right: 3px;
}

.pzNumeric {
  top: 2px;
  left: 2px;
}

.pzHighlightSquare {
  box-shadow: inset 0 0 3px 3px var(--highlight_color);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 110px;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  display: block;
}
