<div>
    <div class="pzEvaluationGaugeScore">@ScoreText</div>
    <div class="pzEvaluationGauge">
        <div class="pzEvaluationBar" style="width:@Width;"></div>
    </div>
    <div class="pzTickbar">
        @TickBarSVG();
    </div>
</div>

@code {

}
