table.pzNotTable > tbody > tr > td:not(:last-child) {
    border-right: 1px solid black;
}

span.pzMoveText {
    white-space: pre-wrap;
}

.pzNotTable {
    border: 1px solid black;
    overflow: auto;
}

.pzNotColMovenumber {
    text-align: center;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.pzNotColWhite {
    text-align: right;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
.pzNotColBlack {
    text-align: right;
    background-color: lightgray;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}
.pzNotResult {
    font-weight: bold
}

.pzMoveTextComment {
    color:blue;
}
