<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PonzianiComponentsDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scoresheet">
                <span class="oi oi-plus" aria-hidden="true"></span> Scoresheet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lichesstv">
                <span class="oi oi-plus" aria-hidden="true"></span> Lichess TV
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="multiple">
                <span class="oi oi-plus" aria-hidden="true"></span> Multiple Boards
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ecobrowser">
                <span class="oi oi-plus" aria-hidden="true"></span> ECO Browser
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="puzzles">
                <span class="oi oi-plus" aria-hidden="true"></span> Puzzles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="engine">
                <span class="oi oi-plus" aria-hidden="true"></span> Engine
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
