@page "/lichesstv"
@inject HttpClient HttpClient

<h3>Lichess TV</h3>

<div class="container">
	<div class="row justify-content-center">
		<h4>@PairingString</h4>
	</div>
	<div class="row justify-content-center">
		<h6>@Clock</h6>
	</div>
	<div class="row justify-content-center">
		<Chessboard Fen="@Game.Position.FEN" @ref="chessboard" />
		<Scoresheet Game="@Game" style="width: 400px; height: 400px; padding:5px" />
	</div>
</div>

@code {

}
