@page "/engine"
<h3>Engine</h3>

<EditForm Model="@Model">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="UCI Command" aria-label="UCI Command" aria-describedby="btn_send" @bind="Model.Cmd">
        <button class="btn btn-outline-secondary" type="button" id="btn_send" @onclick="SendToEngineAsync">Send</button>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Analyze" aria-label="Analyze" aria-describedby="btn_analyze" @bind="Model.Fen">
        <button class="btn btn-outline-secondary" type="button" id="btn_analyze" @onclick="AnalyzeAsync">Analyze</button>
    </div>
    <div class="row form-group">
        <label class="col-sm-3 col-form-label">
            Number of Lines:
        </label>
        <div class="input-group col-sm-9">
            <InputNumber class="form-control" @bind-Value="Model.NumberOfLines" />
        </div>
    </div>
    <div class="form-check">
        <InputCheckbox class="form-check-input" @bind-Value="Model.ShowEvaluationInfo" />
        <label>
            Show Engine Evaluation Info:
        </label>
    </div>
    <div class="form-check">
        <InputCheckbox class="form-check-input" @bind-Value="Model.ShowLog" />
        <label>
            Show Engine Log:
        </label>
    </div>
    <div class="form-check">
        <InputCheckbox class="form-check-input" @bind-Value="Model.ShowEvaluationBar" />
        <label>
            Show Evaluation Bar:
        </label>
    </div>
    @if (Model.ShowEvaluationBar)
    {
        <div class="row form-group">
            <label class="col-sm-3 col-form-label" for="inpType">Select Orientation</label>
            <div class="input-group col-sm-9">
                <InputSelect class="form-control" Name="orientation" @bind-Value="Model.Orientation" id="inpType">
                    @foreach (var t in Enum.GetNames(typeof(Orientation)))
                    {
                    <option Name="orientation" Value="@t">@t</option>
                    }
            </InputSelect>
        </div>
    </div>
    }
</EditForm>
<hr />
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <Engine ShowLog="Model.ShowLog" ShowEvaluationInfo="Model.ShowEvaluationInfo" @ref="engine" NumberOfLines="Model.NumberOfLines"
                    style="border: 1px solid green;" OnEngineInfo="OnEngineInfo"></Engine>
            @if (Model.ShowEvaluationBar)
            {
                @if (Model.Orientation == Orientation.Horizontal)
                {
                    <EvaluationGauge Orientation=Orientation.Horizontal style="padding:10px;" @ref="evaluationBar" />
                } else
                {
                     <EvaluationGauge Orientation=Orientation.Vertical style="height:300px;padding:10px;" @ref="evaluationBar" />                   
                }
            }
        </div>
    </div>
</div>

@code {

}
